<div class="login-container">
  <div class="card">
      <!-- Encabezado con Logo -->
      <div class="card-header">
          <img src="assets/images/logo.png" alt="Logo del Sistema de Alertas Médicas" class="logo">
          <br>
          <h1><strong>Proyecto</strong>: Alertas Médicas</h1>
          <p>Cloud Native</p>
      </div>

      <!-- Cuerpo -->
      <div class="card-body">

          <!-- Botones -->
            <button class="btn btn-success" (click)="login()" >
              <strong>Iniciar Sesión</strong>
            </button>
          <button class="btn btn-outline-secondary" (click)="logout()" *ngIf="isLoggedIn">
              Cerrar Sesión
          </button>
      </div>

      <!-- Footer -->
      <div class="card-footer">
          <p>Cloud Native | 2025 © </p>
          <p>Sebastian Miranda | Pedro Rivera | Grupo 7</p>
      </div>
  </div>
</div>
