.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #cbfffe;
  min-height: 100vh;

  .dashboard-header {
    padding: 20px;
    background-color: #fff;

    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        width: 170px;
        height: auto;
      }

      .logout-btn {
        font-size: 14px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #ff8383;
      }
    }
  }

  .dashboard-title {
    margin: 0;
    font-size: 2rem; /* Tamaño predeterminado para pantallas pequeñas */
    font-weight: 800; /* Similar a "font-extrabold" */
    line-height: 1.2; /* Similar a "leading-none" */
    text-align: center;
    color: #03849b; /* Color del texto */
    text-transform: capitalize; /* Para formato más formal */

    @media (min-width: 768px) {
      font-size: 2rem; /* md:text-5xl */
    }

    @media (min-width: 1024px) {
      font-size: 2.5rem; /* lg:text-6xl */
    }
  }

  .actions {
    padding: 20px;
    display: flex;
    justify-content: center;

    .actions-content {
      display: flex;
      gap: 15px;

      button {
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
      }
    }
  }

  .alertas-table-container {
    padding: 20px;

    .alertas-table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;

      thead {
        background-color: #03849b;
        color: #fff;

        th {
          padding: 10px;
          text-align: left;
          font-size: 14px;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f9f9f9;
          }

          &:nth-child(even) {
            background-color: #fff;
          }

          td {
            padding: 10px;
            font-size: 14px;
          }

          button {
            margin-right: 5px;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* Responsividad */
@media (max-width: 768px) {
  .dashboard-header {
    .header-content {
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 20px;
      }

      .logout-btn {
        margin-top: 10px;
      }
    }
  }

  .actions .actions-content {
    flex-direction: column;
    gap: 10px;

    button {
      width: 100%;
    }
  }

  .alertas-table th,
  .alertas-table td {
    font-size: 12px;
    padding: 8px;
  }
}

.alerta-flotante {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
  min-width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
